# Functions / methods used in string

* TO sum up:
    * list -  vamos ver []
    * tuple -  bvamos ver ()
    * dictionaries - vamos ver {}

* functions
    * append
    * insert
    * extend
    * pop
    * reverse
    * remove
    * sort

### append

In [2]:
courses = ['mat','port','ingles']

courses.append('Bio')
print(courses)

['mat', 'port', 'ingles', 'Bio']

### update

In [1]:
person = {"name": "luis",  "age": "26"}

more_info = {"is_male":True}
person.update(more_info)
person

{'name': 'luis', 'age': '26', 'is_male': True}

### insert

In [4]:
courses = ['mat','port','ingles']

# we can add a new values plus  indicate the index where i want to inser the value
courses.insert(0,'music')
print(courses)

['music', 'mat', 'port', 'ingles']

### extend

In [5]:
courses = ['mat','port','ingles']
#can join value from a variable to other / combine on list to other
courses_2 = ['compscience','calculus']
courses.extend(courses_2)
print(courses)

['mat', 'port', 'ingles', 'compscience', 'calculus']

### Remove

In [6]:
courses = ['mat','port','ingles']
courses.remove('mat')
print(courses)

['port', 'ingles']

### POP

In [8]:
courses = ['mat','port','ingles']
popped =  courses.pop()
print(courses)

['mat', 'port']

### Reverse

In [9]:
courses = ['mat','port','ingles']

courses.reverse()
print(courses)

['ingles', 'port', 'mat']

### Sort

In [7]:

courses = ['mat','port','ingles']
num = [2,5,8,8,9,4,7,78]
#courses.sort() # organiza por ordem alfabetica / in this case reverse True/ false,  posso indicar se vai fazer o ascendente o descendente
num.sort(reverse=True) # / num.sort(reverse=False)
num.sort() # / num.sort(reverse=False)

print(num)
print(num)

[2, 4, 5, 7, 8, 8, 9, 78]
[2, 4, 5, 7, 8, 8, 9, 78]

In [8]:
#in this list find the smallest value
# 1. sort the variable
# 2. print variable and index,  within this we will be able to see the smalleste value of the list 

a= [1,5,6,2,3,45,5,77]
a.sort()
print(a[0])

1

### Max / min / avg / sorted

In [9]:
values = [1,56,78,5,6,7,5]

print(max(values))
print(min(values))
print(sum(values))
print(sorted(values))

78
1
158
[1, 5, 5, 6, 7, 56, 78]

### map

In [10]:
def double (number):
    return number*2
print(list(map(double,[1,2,3])))

#i can do the exact some thing with this lambda function

print(list(map(lambda num: num*2,[1,2,3])))

[2, 4, 6]
[2, 4, 6]

### filter

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
print(list(filter(lambda num: num %2==0, numbers)))

[2, 4, 6, 8, 10, 12]

In [31]:
number =  3
number2 = 3.14

# type is used normally to know what is the datatype
print(type(number)) 
print(type(number2))

# ARITHEMETIC OPERATORS

# floor division  3 // 2
# exponent        3 **2
# Modulus         3 % 2

# BUILT IN FUNCTIONS
# some built in function that work with number are

print(abs(-3))
print(round(3.75))
# i can indicate the number of decimal values
print(round(3.75,2))

<class 'int'>
<class 'float'>
3
4
3.75

### strip / split

In [13]:
# .strip() -  remove empty space within a varaible

#if i type a few blank space the outcome it will be with blank spaces
x =  input('insert something: ')
print(x.strip())

#remove the delimiter if i insert ('hello.luis.how.are.you')
print(x.split('.'))

luis.nogueira
['luis', 'nogueira   ']

### len

In [14]:
def count_words(phrase):
    print(len(phrase.split()))
count_words('hello!, my name is luis')

5

In [32]:
# using this variables witll occur the concatenation between num_1 and num_2
num_1 = '10'
num_2 = '20'

# if we need to sum this 2 varaibles we have to convert to int to perform sum,  otherwise i will get an error
num_1 = int('10')
num_2 = int('20')


print( num_1 + num_2)

30

In [35]:



#aritemetic:  + - / : * % **   << este sao alguns dos sibolos aritemeticos que vamos encontrar

add= 10+5
print(add)  ##>> 15

sub= 10-5
print(sub)  ## >>5

mult=10*5 
print(mult) ## >> 50

expo=10**5 
print(expo) ## >> 50

div=10/5
print(div)  ## >> 2.0

floordiv= 10//5
print(floordiv)   ## >> 0 quantas vezes é que 5 cabe dentro de 10 ,  a resposta é 2,  ou seja nao existe remanescente,  ou seja o output de modulus = 0

mod= 10%3
print(mod)   ## >>é 3*3=9 , contudo neste caso remanescente é 1, este é  o output de modulus = 1

15
5
50
100000
2.0
2
1

### validate if a value in a list exist

In [20]:
courses = ['mat','port','ingles']
print('mat'in courses)

True
mat
port
ingles

### join

In [22]:
courses = ['mat','port','ingles']

course_str = ' - '.join(courses)
print(course_str)

mat - port - ingles
['Art', 'port', 'ingles']

### * Index

In [23]:
# define a new value to a index

courses[0] = 'Art'
print(courses)

#MUTAVEL - este exemplo mostra que esta lista é mutavel.  ouse ja tudo que seja alterado ma list_1 vai ser alterado tb na lsit_2

list_1 = ['a','b','c','d']
list_2 = list_1

# vaos alterar o index 0 por y
list_1[0] = 'y'

print(list_1)
print(list_2)

['Art', 'port', 'ingles']
['y', 'b', 'c', 'd']
['y', 'b', 'c', 'd']

### Set / interception / Union / difference

In [28]:
#set remove all duplicates that exists in a list, but doesn't order the values

SET_1 = {'a','b','c','d','a'}
SET_2 =  {'a','b','d','a','t'}

# SET
print(set(SET_1))
print(set(SET_2))

#INTERSECTION
sets_join= SET_1.intersection(SET_2)
print(sets_join)

#  UNION
sets_join= SET_1.union(SET_2)
print(sorted(sets_join))

print(SET_1.difference(SET_2))

{'a', 'c', 'd', 'b'}
{'t', 'a', 'd', 'b'}
{'a', 'd', 'b'}
['a', 'b', 'c', 'd', 't']
{'c'}

### clear

In [ ]:
# the same happen i need to remove a element from a dict

person = {"name": "luis",  "age": "26"}
person.clear()
person

### Random

In [ ]:
import random

opcao = ['Podes ver um video','tens de estudar'] 
print(random.choice(opcao))

In [ ]:
# function randon,  som examples


import random

print(random.random()) # value from 0.0 till 1.0
print(random.uniform(4,19)) #decimal value from min to max
print(random.randint(12,55)) #int value from min to max


cores = ['verde','vermelho','azul']
print(random.choice(cores)) # allow you to pick a option from a variable


cards =  ['card1','card2','card3','card4']
random.shuffle(cards)
print(cards)

In [ ]:
# functions:  random,  choice, shuffle

import random

#values 0.0 > 1.0
print(random.random())
#can define the range including negative values
print(random.uniform(-1,2))
#where we can define a range of values and will show randomly
print(random.randint(0,1000))

#exercio heads or tails
options=['heads','tails']
print(random.choice(options))

#using shuffle function will allow to change the order of the values within a list
cards=['card1','card2','card3']
random.shuffle(cards)

print(cards)

### EX 1 with random

In [ ]:
import random
'''
1. define all variables needded(lower_case,  upper_case, symbols)
2. create a var that concatenate the 3 variables
3. create a extrat variable to define de length of password
4. creare variable password ("".join(random.sample(use_for,length_for_pass)))

'''

lower_case = 'abcdefghijklmnopqrstuvwxyz'
upper_case = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
numbers = '0123456789'
symbols = '!"#$%&/()=?'
use_for=lower_case+upper_case+numbers+symbols
length_for_pass = 20


password="".join(random.sample(use_for,length_for_pass))

print(password)

### Deque

In [ ]:
from collections import deque
queue = deque(["luis","eduardo"])
print(queue)
queue.append("allen")
#in this case popleft will remove first index value forma the list
queue.popleft()
print(queue)

In [ ]:
person = {"name": "luis",  "age": "26"}

# thre is also one other way to validate if a value existe within a dict without getting a error
# if the value doesn't exist then nothing will show up and if the value exist i will geta result
person.get("santos")
person.get("name")