# Functions / methods used in string

* TO sum up:
    * list -  vamos ver []
    * tuple -  bvamos ver ()
    * dictionaries - vamos ver {}

* functions
    * append
    * insert
    * extend
    * pop
    * reverse
    * remove
    * sort

### append

In [2]:
courses = ['mat','port','ingles']

courses.append('Bio')
print(courses)

['mat', 'port', 'ingles', 'Bio']

### insert

In [4]:
courses = ['mat','port','ingles']

# we can add a new values plus  indicate the index where i want to inser the value
courses.insert(0,'music')
print(courses)

['music', 'mat', 'port', 'ingles']

### extend

In [5]:
courses = ['mat','port','ingles']
#can join value from a variable to other / combine on list to other
courses_2 = ['compscience','calculus']
courses.extend(courses_2)
print(courses)

['mat', 'port', 'ingles', 'compscience', 'calculus']

### Remove

In [6]:
courses = ['mat','port','ingles']
courses.remove('mat')
print(courses)

['port', 'ingles']

### POP

In [8]:
courses = ['mat','port','ingles']
popped =  courses.pop()
print(courses)

['mat', 'port']

### Reverse

In [9]:
courses = ['mat','port','ingles']

courses.reverse()
print(courses)

['ingles', 'port', 'mat']

### Sort

In [16]:

courses = ['mat','port','ingles']
num = [2,5,8,8,9,4,7,78]
#courses.sort() # organiza por ordem alfabetica / in this case reverse True/ false,  posso indicar se vai fazer o ascendente o descendente
num.sort(reverse=True) # / num.sort(reverse=False)

print(num)
print(num)

[2, 4, 5, 7, 8, 8, 9, 78]
[2, 4, 5, 7, 8, 8, 9, 78]

### Max / min / avg / sorted

In [18]:
values = [1,56,78,5,6,7,5]

print(max(values))
print(min(values))
print(sum(values))
print(sorted(values))

78
1
158
[1, 5, 5, 6, 7, 56, 78]

In [31]:
number =  3
number2 = 3.14

# type is used normally to know what is the datatype
print(type(number)) 
print(type(number2))

# ARITHEMETIC OPERATORS

# floor division  3 // 2
# exponent        3 **2
# Modulus         3 % 2

# BUILT IN FUNCTIONS
# some built in function that work with number are

print(abs(-3))
print(round(3.75))
# i can indicate the number of decimal values
print(round(3.75,2))

<class 'int'>
<class 'float'>
3
4
3.75

In [32]:
# using this variables witll occur the concatenation between num_1 and num_2
num_1 = '10'
num_2 = '20'

# if we need to sum this 2 varaibles we have to convert to int to perform sum,  otherwise i will get an error
num_1 = int('10')
num_2 = int('20')


print( num_1 + num_2)

30

In [35]:



#aritemetic:  + - / : * % **   << este sao alguns dos sibolos aritemeticos que vamos encontrar

add= 10+5
print(add)  ##>> 15

sub= 10-5
print(sub)  ## >>5

mult=10*5 
print(mult) ## >> 50

expo=10**5 
print(expo) ## >> 50

div=10/5
print(div)  ## >> 2.0

floordiv= 10//5
print(floordiv)   ## >> 0 quantas vezes é que 5 cabe dentro de 10 ,  a resposta é 2,  ou seja nao existe remanescente,  ou seja o output de modulus = 0

mod= 10%3
print(mod)   ## >>é 3*3=9 , contudo neste caso remanescente é 1, este é  o output de modulus = 1

15
5
50
100000
2.0
2
1

### validate if a value in a list exist

In [20]:
courses = ['mat','port','ingles']
print('mat'in courses)

True
mat
port
ingles

### join

In [22]:
courses = ['mat','port','ingles']

course_str = ' - '.join(courses)
print(course_str)

mat - port - ingles
['Art', 'port', 'ingles']

### * Index

In [23]:
# define a new value to a index

courses[0] = 'Art'
print(courses)

#MUTAVEL - este exemplo mostra que esta lista é mutavel.  ouse ja tudo que seja alterado ma list_1 vai ser alterado tb na lsit_2

list_1 = ['a','b','c','d']
list_2 = list_1

# vaos alterar o index 0 por y
list_1[0] = 'y'

print(list_1)
print(list_2)

['Art', 'port', 'ingles']
['y', 'b', 'c', 'd']
['y', 'b', 'c', 'd']

### Set / interception / Union / difference

In [28]:
#set remove all duplicates that exists in a list, but doesn't order the values

SET_1 = {'a','b','c','d','a'}
SET_2 =  {'a','b','d','a','t'}

# SET
print(set(SET_1))
print(set(SET_2))

#INTERSECTION
sets_join= SET_1.intersection(SET_2)
print(sets_join)

#  UNION
sets_join= SET_1.union(SET_2)
print(sorted(sets_join))

print(SET_1.difference(SET_2))

{'a', 'c', 'd', 'b'}
{'t', 'a', 'd', 'b'}
{'a', 'd', 'b'}
['a', 'b', 'c', 'd', 't']
{'c'}