In [47]:
import pandas as pd
import os

In [48]:
pwd = os.getcwd()

series_test = list(range(1,10))
pd.Series(series_test)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [49]:
filepath = pwd + "/simple_csv.csv"
print(filepath)

c:\UserData\z004hedj\OneDrive - Siemens AG\Ambiente de Trabalho\GIT\newMilestone\newMilestone\python\3.pandas\handson_1/simple_csv.csv

In [50]:
first_import = pd.read_csv(filepath,nrows=10)
first_import["Column1"]
print(first_import)

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719
6  0.192540  0.409874  0.875082
7  0.380921  0.045468  0.515859
8  0.592471  0.786421  0.047249
9  0.072112  0.695694  0.409573

In [51]:
first_import["Column1"]
print(first_import)

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719
6  0.192540  0.409874  0.875082
7  0.380921  0.045468  0.515859
8  0.592471  0.786421  0.047249
9  0.072112  0.695694  0.409573

In [54]:
first_import["new_column"]=1
print(first_import)

    Column1   Column2   Column3  new_column  new column2
0  0.280925  0.910368  0.692982           1            0
1  0.719882  0.210024  0.761276           1            1
2  0.235752  0.059796  0.154667           1            2
3  0.603366  0.485614  0.013345           1            3
4  0.039985  0.236359  0.811832           1            4
5  0.015478  0.543641  0.112719           1            5
6  0.192540  0.409874  0.875082           1            6
7  0.380921  0.045468  0.515859           1            7
8  0.592471  0.786421  0.047249           1            8
9  0.072112  0.695694  0.409573           1            9

In [55]:
first_import["new column2"] = list(range(10))
first_import["added column 1 and 2"] = first_import["new_column"]+first_import["new column2"]
print(first_import)

    Column1   Column2   Column3  new_column  new column2  added column 1 and 2
0  0.280925  0.910368  0.692982           1            0                     1
1  0.719882  0.210024  0.761276           1            1                     2
2  0.235752  0.059796  0.154667           1            2                     3
3  0.603366  0.485614  0.013345           1            3                     4
4  0.039985  0.236359  0.811832           1            4                     5
5  0.015478  0.543641  0.112719           1            5                     6
6  0.192540  0.409874  0.875082           1            6                     7
7  0.380921  0.045468  0.515859           1            7                     8
8  0.592471  0.786421  0.047249           1            8                     9
9  0.072112  0.695694  0.409573           1            9                    10

In [59]:
#first_import = first_import.drop(columns="new_column")

#tis other way to drop a column
first_import.drop(columns="new column2",inplace=True)

print(first_import)

    Column1   Column2   Column3  added column 1 and 2
0  0.280925  0.910368  0.692982                     1
1  0.719882  0.210024  0.761276                     2
2  0.235752  0.059796  0.154667                     3
3  0.603366  0.485614  0.013345                     4
4  0.039985  0.236359  0.811832                     5
5  0.015478  0.543641  0.112719                     6
6  0.192540  0.409874  0.875082                     7
7  0.380921  0.045468  0.515859                     8
8  0.592471  0.786421  0.047249                     9
9  0.072112  0.695694  0.409573                    10

In [60]:
# LOC
first_import.loc[:5]

    Column1   Column2   Column3  added column 1 and 2
0  0.280925  0.910368  0.692982                     1
1  0.719882  0.210024  0.761276                     2
2  0.235752  0.059796  0.154667                     3
3  0.603366  0.485614  0.013345                     4
4  0.039985  0.236359  0.811832                     5
5  0.015478  0.543641  0.112719                     6

In [61]:
# if i need to return first 5 lines and also bring only a few columns
# using loc will include the index 5 so it is inclusive
first_import.loc[:5, ["Column1","Column2","Column3"]]

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719

In [65]:
# ILOC

# if i used that way i will get 5 first rows and also with :1 specify that i want to get the first column
first_import.iloc[:6, :1]

    Column1
0  0.280925
1  0.719882
2  0.235752
3  0.603366
4  0.039985
5  0.015478

In [68]:
# but if only  column 2 and 3 i can do it that way,  basically the first argument are the rows and the second argument are the columns
first_import.iloc[:6,[ 2, 3]]

    Column3  added column 1 and 2
0  0.692982                     1
1  0.761276                     2
2  0.154667                     3
3  0.013345                     4
4  0.811832                     5
5  0.112719                     6